.parralax {
  position: absolute;
  width: 100%;
  height: 100%;
}

.space {
  background: url(1.png);
  background-size: 110% 110%;
}

.three {
  background: url(2.png);
  background-size: 110% 110%;
}
